<form action="/books" method="post">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h2 class="text-center">Δώστε το όνομά σας...</h2>
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" value="" name="username" placeholder="Όνομα χρήστη"
                        required="required" autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block">Είσοδος</button>
            </div>
        </div>
    </div>
</form>
